// Dependencies
@use "@styles/globals/spacing";
@use "@styles/globals/colours";
@use "@styles/globals/mixins" as mx;

.triviaCont {
	width: min(600px, 100%);
	margin: 0 auto;
	@include mx.flex-vertical-list;

	height: 100vh; // Support for older browsers
	height: 100dvh; // Full viewport height on modern browsers

	padding: 2 * spacing.$unit;
	padding-bottom: 3 * spacing.$unit;


	header {
		@include mx.flex-horizontal-list;
		height: fit-content;
		
		.close {
			height: 100%;
			aspect-ratio: 1 / 1;
			padding: 0.5 * spacing.$unit;

			img {
				margin: auto;
			}
		}
	}



	.introCont {
		position: absolute;
		background: colours.$off-white;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 4 * spacing.$unit;
		padding-bottom: 8 * spacing.$unit;

		@include mx.flex-vertical-list;
		@include mx.gap(m);
		justify-content: flex-end;
		align-items: center;

		* {
			width: 100%;;
		}

		.beginButton {
			margin-top: 2 * spacing.$unit;
		}
	}





	.imageCont {
		height: 100%;
		width: 100%;
		position: relative;
		margin-top: (2.5 * spacing.$unit);
		margin-bottom: (2 * spacing.$unit);

		img {
			// Make the image fit within the container
			object-fit: contain;
			opacity: 0;
		}
	}
	
	
	.questionAndAnswersCont {
		@include mx.flex-vertical-list;
		@include mx.gap(m);
		
		.questionCont {
			@include mx.flex-vertical-list;
			@include mx.gap(xs);
			
			min-height: 124px;

			justify-content: flex-start;

			h4 {
				width: fit-content;

				transform: scale(0);
			}
		}
		
		.answersCont {
			@include mx.flex-vertical-list;
			@include mx.gap(s);

			width: 100%;
			min-height: 225px;
		
			.answer {
				width: 100%;
				height: 100%;
				transform: scale(0);
			}

			.response {
				// position: absolute;
				width: 100%;
				text-align: center;
				display: none;
			}
		}
	}
}
